<body>
<h1><%= @team_name %></h1>
<h2>Team Motto: <%= @team_motto %></h2>


<h2>Hero Name: <%= @member1["name"] %></h2>
<h2>Hero Power: <%= @member1["power"] %></h2>
<h2>Hero Biography: <%= @member1["bio"] %></h2>


<h2>Hero Name: <%= @member2["name"] %></h2>
<h2>Hero Power: <%= @member2["power"] %></h2>
<h2>Hero Biography: <%= @member2["bio"] %></h2>


<h2>Hero Name: <%= @member3["name"] %></h2>
<h2>Hero Power: <%= @member3["power"] %></h2>
<h2>Hero Biography: <%= @member3["bio"] %></h2>


</body>


